.dish-scroll{
    
        overflow: scroll;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}

.res-data{
        /* border: 1px solid; */
        width: 472px;
        padding-left: 32px;
}
p{
        font-size: 21px;
}

.head{
        font-size: 46px;
        
}

p{
        font-size: small;
}